# Ignore logs
logs/
*.log

# Ignore dbt build/compiled/target artifacts
dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Environnements virtuels
venv/
env/

# Ignorer les fichiers exportés
data/export/
data/processed/
data/raw/

# Ou plus précis :
*.crc
*.parquet
*.json
_SUCCESS
.part-*
._SUCCESS*

# Facultatif : ignorer les fichiers temporaires système
.DS_Store
Thumbs.db

jars

