# Ignore logs
logs/
*.log

# Ignore dbt build/compiled/target artifacts
dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Environnements virtuels
.venv/
env/
